.titulo h1 {
    background-color: lemonchiffon;
    text-align: center;
}

.verde {
    background-color: rgb(149, 250, 34);
    text-align: center;
}

.naranja {
        background-color:rgb(252, 144, 2) ;
}

.azul {
    background-color: blue;
    text-align: center;
}